---
title: "Newsletter #17"
date: "March 2020"
preheader_text: "Think About! 2020 Canceled"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    We heavy heartedly decided to cancel Think About! 2020
  <% end %>

  <% partial 'text' do %>
    <p>
      Although it is the right and reasonable decision considering the current situation with the Corona virus we are extremely sad that we have to share these news with you.
    </p>
    <p>
      Many questions have been on our mind in the past few days. We followed the news and have been in touch with the public health department in Cologne regularly. The first people started reaching out to us with regard to whether the event is taking place. That is why we started to discuss how we would like to react and what that means for our conference.  
    </p>
    <p>
      Two aspects affected our decision:  
    </p>
    <p>
      1. We take your health and safety very seriously and don’t want to put anyone at risk. Right now we need to rely on trusted sources like the Robert-Koch-Institute.
    </p>
    <p>
      2. Pulling off an event like the Think About! is a tremendous effort - measured in hours invested by the orga team and measured in money invested upfront for hotel, travel and so on. Since we are a small company we have to pay a lot of this upfront from our own pockets - many of the cost are not refundable from a certain point on.
    </p>
    <p>
      <b>Considering these two factors led us to the decision to cancel the Think About! 2020. As said, we are very sad and can’t put into words how we feel right now but we hope you understand the decision we've made.</b>
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'speakers.jpg',
    alt: 'People lining up to get into the Think About! 2019 Venue',
    link: 'https://think-about.io/speakers.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    We have extremely exciting Speaker Updates
  <% end %>
  <% partial 'text' do %>
    <p>
      At this point we have confirmed <b>20 speakers</b> – so our line-up is almost complete. We are super excited to have won over such a diverse crowd of talented speakers from all over the world. The last 4 talks will be announced in one of our next newsletters.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'See All Speakers',
      link: 'https://think-about.io/speakers.html'
    } %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'michael_feathers',
      alt: ''
    } %>
  <% partial 'title' do %>
    Technical Keynote by Michael Feathers
  <% end %>
  <% partial 'text' do %>
    <p>
      We are greatly enthusiastic that the experienced tech expert
      <%= partial 'link',
        locals: {
          text: 'Michael Feathers',
          link: 'https://think-about.io/events/2020/talks/tbd.html'
        } %>
      who is the author of the book
      <%= partial 'link',
        locals: {
          text: 'Working Effectively with Legacy Code',
          link: 'https://www.goodreads.com/book/show/44919.Working_Effectively_with_Legacy_Code'
        } %>
      will give the technical keynote of this year's conference. The content of his keynote is still a surprise so stay stuned for updates.

    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'lena_sarp',
      alt: ''
    } %>
  <% partial 'title' do %>
    Design Talk: Contributions of UX Research to Structural Discrimination - and Ways to Act Against it
  <% end %>
  <% partial 'text' do %>
    <p>
      The amazing
      <%= partial 'link',
        locals: {
          text: 'Lena Sarp',
          link: 'https://think-about.io/events/2020/talks/ux_research_and_structural_discrimination.html'
        } %>
        who works as a UX Researcher at the menstrual cycle tracking app
      <%= partial 'link',
        locals: {
          text: 'Clue',
          link: 'https://helloclue.com/'
        } %>
      will talk about her encounters with structural discrimination in her daily work and will show you ways to act against it.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'sebastian_greger',
      alt: ''
    } %>
  <% partial 'title' do %>
    Design Talk: Mainstreaming Data Minimalism
  <% end %>
  <% partial 'text' do %>
    <p>
      Berlin-based sociologist and interaction designer 
      <%= partial 'link',
        locals: {
          text: 'Sebastian Greger',
          link: 'https://think-about.io/events/2020/talks/mainstreaming_data_minimalism.html'
        } %>
        will explain how designing for privacy is about much more than just reducing data.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'alice_thwaite',
      alt: ''
    } %>
  <% partial 'title' do %>
    Society Talk: Truth and Technology
  <% end %>
  <% partial 'text' do %>
    <p> 
      <%= partial 'link',
        locals: {
          text: 'Alice Thwaite',
          link: 'https://think-about.io/events/2020/talks/truth_and_technology.html'
        } %>
        who is a technology ethicist specialising in improving democratic information environments and who has founded 
      <%= partial 'link',
        locals: {
          text: 'The Echo Chamber Club',
          link: 'https://www.echochamber.club/'
        } %>
        will talk about Truth and Technology.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'christine_weinmeister',
      alt: ''
    } %>
  <% partial 'title' do %>
    Society Talk: Sichtbare Wirkung gegen unsichtbare Barrieren
  <% end %>
  <% partial 'text' do %>
    <p> 
      <%= partial 'link',
        locals: {
          text: 'Christine Weinmeister',
          link: 'https://think-about.io/events/2020/talks/sichtbare_wirkung.html'
        } %>
        who is the Head of Development Online at
      <%= partial 'link',
        locals: {
          text: 'Manimundo',
          link: 'https://www.manimundo.de'
        } %>
        will talk about how her company supports creating more inclusive communication between individuals by offering sign language courses online.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'jeremy_keith',
      alt: ''
    } %>
  <% partial 'title' do %>
    Tech Talk: The Layers Of The Web
  <% end %>
  <% partial 'text' do %>
    <p> 
      Say hello to
      <%= partial 'link',
        locals: {
          text: 'Jeremy Keith',
          link: 'https://think-about.io/events/2020/talks/layers_of_the_web.html'
        } %>
        the founder of 
      <%= partial 'link',
        locals: {
          text: 'Clearleft',
          link: 'https://clearleft.com/'
        } %>
        and the author of 
      <%= partial 'link',
        locals: {
          text: 'Going Offline',
          link: 'https://abookapart.com/products/going-offline'
        } %>
        who will uncover how to build resilient, performant, accessible and beautiful web creations.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'dino_frese',
      alt: ''
    } %>
  <% partial 'title' do %>
    Tech Talk: Distributed Teams - FF through 20 years of out- & in-sourcing
  <% end %>
  <% partial 'text' do %>
    <p> 
      <%= partial 'link',
        locals: {
          text: 'Dino Frese',
          link: 'https://think-about.io/events/2020/talks/distributed_teams.html'
        } %>
        who is Managing Director of
      <%= partial 'link',
        locals: {
          text: 'Accenture Interactive',
          link: 'https://www.accenture.com/de-de/services/interactive-index'
        } %>
        will give insights on his 20 years of experience working with distributed software teams.
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'meetup_marcel.png',
    alt: 'Header Image for Meetup',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Join our next Meetup this Thursday, 27th February
  <% end %>
  <% partial 'text' do %>
    <p>
      We have another meetup coming up this week: 
    </p>
    <p>
      Coach and Software Developer 
      <%= partial 'link',
        locals: {
          text: 'Marcel Koch',
          link: 'https://www.marcelkoch.net/'
        } %>
      will talk about the pitfalls of bad communication in (software) team and show you techniques how to overcome those. 
    </p>
    <p>
      This meetup is hosted by our friends at
      <%= partial 'link',
        locals: {
          text: 'Inovex',
          link: 'https://www.inovex.de/en/'
        } %>
        who will provide an impressive meetup location in Cologne Mühlheim and offer delicious and healthy food. We can't wait for this event to happen. 
    </p>
  <% end %>
  <%= partial 'button',
    locals: {
      text: 'Join the Meetup - it\'s free',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'queerjs.jpg',
    alt: 'Two pictures taken at the QueerJS Meetup showing a talk and stickers',
    link: 'https://queerjs.com/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    The QueerJS Cologne celebrated it's wonderful first edition
  <% end %>
  <% partial 'text' do %>
    <p>
      We supported the first edition of the QueerJS meetup in Cologne (ever!) and it was an inspiring evening with three interesting talks and an amazing community. Thanks again to the
      <%= partial 'link',
        locals: {
          text: 'organizers',
          link: 'https://queerjs.com/organizers'
        } %>
       and to our friends at 
      <%= partial 'link',
        locals: {
          text: 'Dunckelfeld',
          link: 'https://www.dunckelfeld.de/en/'
        } %>
       who provided self-made food and the beautiful location.
    </p>
      And we have good news: There will be a second edition coming up soon – possibly as a warming-up event right before the Think About! conference. We will keep you posted.
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'sponsors.jpg',
    alt: 'People standing in front of a sponsor booth',
    link: 'https://think-about.io/sponsors.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Meet our next Sponsors 
  <% end %>
  <% partial 'text' do %>
    <p>
      Making an event like the Think About! happen would not be possible without the support of our sponsors. Thanks to 
    <%= partial 'link',
    locals: {
      text: 'Metro Markets',
      link: 'https://www.metro-markets.de/'
    } %>
      who just joined as our fourth <b>Gold Sponsor</b>. 
    </p>
      And as our first <b>Silver Sponsor</b> we are excited to introduce 
    <%= partial 'link',
    locals: {
      text: 'Neuland',
      link: 'https://neuland-bfi.de/'
    } %>
      coming all the way from Bremen to support us. Thank you so much!
    <p>
      If you know any company that might be a good fit or want to sponsor yourself please get in touch with us. We have a few sponsor spots left.
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Get in Touch',
      link: 'mailto: kontakt@think-about.io'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'metro.jpg',
    alt: 'Metro Markets logo',
    link: 'https://www.metro-markets.de/'
  } %>

<% partial 'box' do %>
    <% partial 'title' do %>
    Gold Sponsor:
    <%= partial 'link',
    locals: {
      text: 'Metro Markets',
      link: 'https://www.metro-markets.de/'
    } %>
  <% end %>
  <% partial 'text' do %>
    "We work for those who wake up every day and want to make a difference. The ones who took their dream and turned it into their own business. We create the future of B2B commerce by giving business relationships a platform. Our marketplace enables millions of business owners all over the world to focus on what they do best – delight others."
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'neuland.jpg',
    alt: 'Neuland logo',
    link: 'https://neuland-bfi.de/'
  } %>

<% partial 'box' do %>
    <% partial 'title' do %>
    Silver Sponsor:
    <%= partial 'link',
    locals: {
      text: 'Neuland',
      link: 'https://neuland-bfi.de/'
    } %>
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you in March
  <% end %>

  <% partial 'text' do %>
    <p>
      The Think About! will happen in less than 4 month and we are already excited for this event to happen. Thanks again for your attention and your support. Should you be interested in more updates feel free to follow us on
      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>
      in case your not doing it already.
    </p>

    <p>
      See you soon.<br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

