---
title: "Newsletter #17"
date: "March 2020"
preheader_text: "Think About! 2020 Canceled"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    We heavy heartedly decided to cancel Think About! 2020
  <% end %>

  <% partial 'text' do %>
    <p>
      Although it is the right and reasonable decision considering the current situation with the Corona virus we are extremely sad that we have to share these news with you.
    </p>
    <p>
      Many questions have been on our mind in the past few days. We followed the news and have been in touch with the public health department in Cologne regularly. The first people started reaching out to us with regard to whether the event is taking place. That is why we started to discuss how we would like to react and what that means for our conference.  
    </p>
    <p>
      Two aspects affected our decision:  
    </p>
    <p>
      1. We take your health and safety very seriously and don’t want to put anyone at risk. Right now we need to rely on trusted sources like the Robert-Koch-Institute.
    </p>
    <p>
      2. Pulling off an event like the Think About! is a tremendous effort - measured in hours invested by the orga team and measured in money invested upfront for hotel, travel and so on. Since we are a small company we have to pay a lot of this upfront from our own pockets - many of the cost are not refundable from a certain point on.
    </p>
    <p>
      <b>Considering these two factors led us to the decision to cancel the Think About! 2020. As said, we are very sad and can’t put into words how we feel right now but we hope you understand the decision we've made.</b>
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'monsters.png',
    alt: 'Header Image for Meetup',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    The good news are: Think About! will be back in 2021 and we are planning to continue with awesome meetups
  <% end %>
  <% partial 'text' do %>
    <p>
      We're staying positive and are going to use the cancelation of the Think About! 2020 as an opportunity to come up with some new ideas and fresh perspective for the 2021 edition.
    </p>
    <p>
      For those who can't wait that long: We will continue our monthly meetup series in Cologne (hopefully starting in April again) and might also include some of this year's conference speakers – so stay tuned.
    </p>
  <% end %>
  <%= partial 'button',
    locals: {
      text: 'Join Our Meetup Group',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society'
    } %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you soon
  <% end %>

  <% partial 'text' do %>
    <p>
      We will be busy reimbursing all tickets and sponsors, canceling contracts and making announcements within the next few weeks. At the same time we are planning our next meetups so you will be hearing from us again pretty soon.
    </p>
    <p>
      Remember to wash your hands :) 
    </p>  
    <p>
      <b>Stay healthy and safe, everyone.</b><br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

