---
title: "Newsletter #17"
date: "March 2020"
preheader_text: "Think About! 2020 Canceled"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    We heavy heartedly decided to cancel Think About! 2020
  <% end %>

  <% partial 'text' do %>
    <p>
      Although it is the right and reasonable decision considering the current situation with the Corona virus we are extremely sad that we have to share these news with you.
    </p>
    <p>
      Many questions have been on our mind in the past few days. We followed the news and have been in touch with the public health department in Cologne regularly. The first people started reaching out to us with regard to whether the event is taking place. That is why we started to discuss how we would like to react and what that means for our conference.  
    </p>
    <p>
      Two aspects affected our decision:  
    </p>
    <p>
      1. We take your health and safety very seriously and don’t want to put anyone at risk. Right now we need to rely on trusted sources like the Robert-Koch-Institute.
    </p>
    <p>
      2. Pulling off an event like the Think About! is a tremendous effort - measured in hours invested by the orga team and measured in money invested upfront for hotel, travel and so on. Since we are a small company we have to pay a lot of this upfront from our own pockets - many of the cost are not refundable from a certain point on.
    </p>
    <p>
      <b>Considering these two factors led us to the decision to cancel the Think About! 2020. As said, we are very sad and can’t put into words how we feel right now but we hope you understand the decision we've made.</b>
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'meetup_marcel.png',
    alt: 'Header Image for Meetup',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Join our next Meetup this Thursday, 27th February
  <% end %>
  <% partial 'text' do %>
    <p>
      We have another meetup coming up this week: 
    </p>
    <p>
      Coach and Software Developer 
      <%= partial 'link',
        locals: {
          text: 'Marcel Koch',
          link: 'https://www.marcelkoch.net/'
        } %>
      will talk about the pitfalls of bad communication in (software) team and show you techniques how to overcome those. 
    </p>
    <p>
      This meetup is hosted by our friends at
      <%= partial 'link',
        locals: {
          text: 'Inovex',
          link: 'https://www.inovex.de/en/'
        } %>
        who will provide an impressive meetup location in Cologne Mühlheim and offer delicious and healthy food. We can't wait for this event to happen. 
    </p>
  <% end %>
  <%= partial 'button',
    locals: {
      text: 'Join the Meetup - it\'s free',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'queerjs.jpg',
    alt: 'Two pictures taken at the QueerJS Meetup showing a talk and stickers',
    link: 'https://queerjs.com/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    The QueerJS Cologne celebrated it's wonderful first edition
  <% end %>
  <% partial 'text' do %>
    <p>
      We supported the first edition of the QueerJS meetup in Cologne (ever!) and it was an inspiring evening with three interesting talks and an amazing community. Thanks again to the
      <%= partial 'link',
        locals: {
          text: 'organizers',
          link: 'https://queerjs.com/organizers'
        } %>
       and to our friends at 
      <%= partial 'link',
        locals: {
          text: 'Dunckelfeld',
          link: 'https://www.dunckelfeld.de/en/'
        } %>
       who provided self-made food and the beautiful location.
    </p>
      And we have good news: There will be a second edition coming up soon – possibly as a warming-up event right before the Think About! conference. We will keep you posted.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you in March
  <% end %>

  <% partial 'text' do %>
    <p>
      The Think About! will happen in less than 4 month and we are already excited for this event to happen. Thanks again for your attention and your support. Should you be interested in more updates feel free to follow us on
      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>
      in case your not doing it already.
    </p>

    <p>
      See you soon.<br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

