---
title: "Newsletter #16"
date: "February 2020"
preheader_text: "Think About! Early Bird tickets are sold out"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    Our Early Bird Tickets are sold out!
  <% end %>

  <% partial 'text' do %>
    <p>
      We are so excited – <b>we sold all of our early bird tickets</b>. Thanks to everyone who already bought a ticket 💖💖💖
    </p>
    <p>
      And for those who weren't fast enough: Don't worry! We have plenty of regular tickets on sale. And in case you should not be able to afford a ticket we also have some 
      <%= partial 'link',
        locals: {
          text: 'solidarity tickets',
          link: 'https://think-about.io/tickets.html#solidarity'
        } %>
       left.   
    </p>
    <p>

    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Grab Your Ticket',
      link: 'https://think-about.io/tickets.html'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'speakers.jpg',
    alt: 'People lining up to get into the Think About! 2019 Venue',
    link: 'https://think-about.io/speakers.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    We have extremely exciting Speaker Updates!
  <% end %>
  <% partial 'text' do %>
    <p>
      At this point we have confirmed <b>20 speakers</b> so our line-up is almost complete. We are super excited to have won over such a diverse crowd of talented speakers from all over the world. The last 4 talks will be announced in the one of our next newsletters.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'See All Speakers',
      link: 'https://think-about.io/speakers.html'
    } %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'michael_feathers',
      alt: ''
    } %>
  <% partial 'title' do %>
    Technical Keynote by Michael Feathers
  <% end %>
  <% partial 'text' do %>
    <p>
      We are greatly enthusiastic that the experienced tech expert
      <%= partial 'link',
        locals: {
          text: 'Michael Feathers',
          link: 'https://think-about.io/events/2020/talks/tbd.html'
        } %>
      who is the author of the book
      <%= partial 'link',
        locals: {
          text: 'Working Effectively with Legacy Code',
          link: 'https://www.goodreads.com/book/show/44919.Working_Effectively_with_Legacy_Code'
        } %>
      will give the technical keynote of this year's conference. The content of his keynote is still a surprise so stay stuned for updates.

    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'lena_sarp',
      alt: ''
    } %>
  <% partial 'title' do %>
    Design Talk: Contributions of UX Research to Structural Discrimination - and Ways to Act Against it
  <% end %>
  <% partial 'text' do %>
    <p>
      The amazing
      <%= partial 'link',
        locals: {
          text: 'Lena Sarp',
          link: 'https://think-about.io/events/2020/talks/ux_research_and_structural_discrimination.html'
        } %>
        who works as a UX Researcher at the menstrual cycle tracking app
      <%= partial 'link',
        locals: {
          text: 'Clue',
          link: 'https://helloclue.com/'
        } %>
      will talk about her encounters with structural discrimination in her daily work and will show you ways to act against it.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'sebastian_greger',
      alt: ''
    } %>
  <% partial 'title' do %>
    Design Talk: Mainstreaming Data Minimalism
  <% end %>
  <% partial 'text' do %>
    <p>
      Berlin-based sociologist and interaction designer 
      <%= partial 'link',
        locals: {
          text: 'Sebastian Greger',
          link: 'https://think-about.io/events/2020/talks/mainstreaming_data_minimalism.html'
        } %>
        will explain how designing for privacy is about much more than just reducing data
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'alice_thwaite',
      alt: ''
    } %>
  <% partial 'title' do %>
    Society Talk: Truth and Technology
  <% end %>
  <% partial 'text' do %>
    <p> 
      <%= partial 'link',
        locals: {
          text: 'Alice Thwaite',
          link: 'https://think-about.io/events/2020/talks/truth_and_technology.html'
        } %>
        who is a technology ethicist who specialises in improving democratic information environments and who has founded 
      <%= partial 'link',
        locals: {
          text: 'The Echo Chamber Club',
          link: 'https://www.echochamber.club/'
        } %>
        will talk about Truth and Technology.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'christine_weinmeister',
      alt: ''
    } %>
  <% partial 'title' do %>
    Society Talk: Sichtbare Wirkung gegen unsichtbare Barrieren
  <% end %>
  <% partial 'text' do %>
    <p> 
      <%= partial 'link',
        locals: {
          text: 'Christine Weinmeister',
          link: 'https://think-about.io/events/2020/talks/sichtbare_wirkung.html'
        } %>
        who is the Head of Development Online at
      <%= partial 'link',
        locals: {
          text: 'Manimundo',
          link: 'https://www.manimundo.de'
        } %>
        will talk about how her company supports creating more inclusive communication between individuals by offering sign language courses online.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'jeremy_keith',
      alt: ''
    } %>
  <% partial 'title' do %>
    Tech Talk: The Layers Of The Web
  <% end %>
  <% partial 'text' do %>
    <p> 
      Say hello to
      <%= partial 'link',
        locals: {
          text: 'Jeremy Keith',
          link: 'https://think-about.io/events/2020/talks/layers_of_the_web.html'
        } %>
        the founder of 
      <%= partial 'link',
        locals: {
          text: 'Clearleft',
          link: 'https://clearleft.com/'
        } %>
        and the author of 
      <%= partial 'link',
        locals: {
          text: 'Going Offline',
          link: 'https://abookapart.com/products/going-offline'
        } %>
        who will uncover how to build resilient, performant, accessible and beautiful web creations.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'dino_frese',
      alt: ''
    } %>
  <% partial 'title' do %>
    Tech Talk: Distributed Teams - FF through 20 years of out- & in-sourcing
  <% end %>
  <% partial 'text' do %>
    <p> 
      <%= partial 'link',
        locals: {
          text: 'Dino Frese',
          link: 'https://think-about.io/events/2020/talks/distributed_teams.html'
        } %>
        who is Managing Director of
      <%= partial 'link',
        locals: {
          text: 'Accenture Interactive',
          link: 'https://www.accenture.com/de-de/services/interactive-index'
        } %>
        will give insights on his 20 years of experience working with distributed software teams.
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'queerjs.png',
    alt: 'QueerJS Cologne',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/267159487/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    QueerJS is coming to Cologne on February 6th
  <% end %>
  <% partial 'text' do %>
    <p>
      As introduced in our last newsletter QueerJS will come to Cologne hosted by our friends at
      <%= partial 'link',
        locals: {
          text: 'Dunckelfeld.',
          link: 'https://dunckelfeld.de/'
        } %>
      The amazing
      <%= partial 'link',
        locals: {
          text: 'QueerJS Team',
          link: 'https://queerjs.com/organizers'
        } %>
        has worked relentlessly to find the following amazing speakers:
      </p> 
    <p>
      <%= partial 'link',
        locals: {
          text: 'Nils Binder',
          link: 'https://twitter.com/supremebeing09'
        } %>
        will talk about combining art history and frontend development.
      </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'David Bailey',
          link: 'https://twitter.com/davidbailey00'
        } %>
        will give you insights on how to make accessibility important at your workplace.
      </p>
      <p>
      <%= partial 'link',
        locals: {
          text: 'Alejandra Villa',
          link: 'https://twitter.com/AlxSavage'
        } %>
        hasn't decided on a topic yet but we are sure it will be an extremly interesting one.
      </p>
    </p>
  <% end %>
  <%= partial 'button',
    locals: {
      text: 'Join the Meetup - it\'s free',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/267159487/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'barcamp.jpg',
    alt: 'Header image for React Barcamp in Cologne',
    link: 'https://react-barcamp.de/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Join the free React Barcamp in Cologne this weekend
  <% end %>
  <% partial 'text' do %>
    <p>
      We are proud to be sponsoring the React Barcamp in Cologne. It will happen this weekend and there are still some tickets available.
    </p>
    <p>
      This non-profit barcamp is open for any topics and organized by the React community.
    </p>
  <% end %>
  <%= partial 'button',
    locals: {
      text: 'Get Your Free Ticket',
      link: 'https://react-barcamp.de/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'sponsors.jpg',
    alt: 'People standing in front of a sponsor booth',
    link: 'https://think-about.io/sponsors.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Meet our first Gold Sponsors 
  <% end %>
  <% partial 'text' do %>
    <p>
      Making an event like the Think About! happen would not be possible without the support of our sponsors. We are extremely grateful to have found the first three Gold Sponsors. Special thanks to
    <%= partial 'link',
    locals: {
      text: 'Cologne Intelligence',
      link: 'https://www.cologne-intelligence.de/'
    } %>
    and
    <%= partial 'link',
    locals: {
      text: 'Vaillant',
      link: 'https://www.vaillant-group.com/'
    } %>
    for trusting in us again.
    And a warm welcome to
    <%= partial 'link',
    locals: {
      text: 'Avenga',
      link: 'https://www.avenga.com/'
    } %>
    who are sponsoring us for the first time.
    </p>

    <p>
      If you know any company that might be a good fit or want to sponsor yourself please get in touch with us. We still have some sponsor spots left.
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Get in Touch',
      link: 'mailto: kontakt@think-about.io'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'avenga.jpg',
    alt: 'Avenga logo',
    link: 'https://www.avenga.com/'
  } %>

<% partial 'box' do %>
    <% partial 'title' do %>
    Gold Sponsor:
    <%= partial 'link',
    locals: {
      text: 'Avenga',
      link: 'https://www.avenga.com/'
    } %>
  <% end %>
  <% partial 'text' do %>
    We are a global IT and digital transformation champion that supports our customers in realizing technology’s huge potential for a smarter and more sustainable world. With our mission to shake up the conventional IT market, we consult, design, engineer and deliver real-world reliable solutions. We are more than 2500 professionals based in Europe, the USA, and Asia. Our German offices are located in Cologne and Berlin. Customer experience is the new battleground and Avenga is your partner to master the challenge.
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'cologneintelligence.jpg',
    alt: 'Cologne Intelligence logo',
    link: 'https://www.cologne-intelligence.de/'
  } %>

<% partial 'box' do %>
    <% partial 'title' do %>
    Gold Sponsor:
    <%= partial 'link',
    locals: {
      text: 'Cologne Intelligence',
      link: 'https://www.cologne-intelligence.de/'
    } %>
  <% end %>
  <% partial 'text' do %>
    Cologne Intelligence – often simply called „CI“ – is a team of passionate, creative and innovative professionals. With locations in Frankfurt and Cologne, CI is a reliable business partner, offering consulting, tailor made software development, mobile applications, complex reporting solutions and agile coaching and training. We live flat hierarchies and value learning as part of everyday work. We’re obsessed with new product ideas, new technologies, and unconven- tional thinking.
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'vaillant.jpg',
    alt: 'Vaillant logo',
    link: 'https://www.vaillant-group.com/'
  } %>

<% partial 'box' do %>
    <% partial 'title' do %>
    Gold Sponsor:
    <%= partial 'link',
    locals: {
      text: 'Vaillant',
      link: 'https://www.vaillant-group.com/'
    } %>
  <% end %>
  <% partial 'text' do %>
    The Vaillant Group is a global market and technology leader in the fields of heating, ventilation and air-conditioning technology. For over 140 years, we have been following a strategy designed to achieve sustainable and profitable growth. Today, our family-owned company has 10 sites in six European countries and China. Our plants manufacture high-efficiency products.
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you in February!
  <% end %>

  <% partial 'text' do %>
    <p>
      Thanks for your attention and see you next month. And don't forget to follow us on
      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>
      in case your not doing it already.
    </p>

    <p>
      See you next year.<br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

