---
title: "Newsletter #14"
date: "Dezember 2019"
preheader_text: "Merry Christmas"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    It is almost Christmas :)
  <% end %>

  <% partial 'text' do %>
    <p>
      2019 is almost over now and we are looking forward to three weeks of
      Christmas vacation.
    </p>
    <p>
      We continue to be overwhelmed with all the positive feedback that is
      still reaching us. What started as an idea in our heads will go into the
      second round in 2020. <b>Thanks for everyone who joined us on this
      journey so far</b> – we are grateful for all the support that we get.
    </p>
    <p>
      And the good news is: We still have 20 Early Bird Tickets left so you
      might still have the chance to grab one of those.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Get Your Ticket',
      link: 'https://think-about.io/tickets.html'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'speakers.jpg',
    alt: 'People lining up to get into the Think About! 2019 Venue',
    link: 'https://think-about.io/speakers.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    We have two Amazing New Speakers
  <% end %>
  <% partial 'text' do %>
    <p>
      So far there are <b>eleven confirmed speakers</b> - wait for another 13
      amazing anouncements next year. While waiting, check out who's who:
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'See All Speakers',
      link: 'https://think-about.io/speakers.html'
    } %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'amy_lynch',
      alt: ''
    } %>
  <% partial 'title' do %>
    Keynote: Breaking down Barriers to Inclusion
  <% end %>
  <% partial 'text' do %>
    <p>
      Our second keynote (out of four) is decided: The amazing
      <%= partial 'link',
        locals: {
          text: 'Amy Lynch',
          link: 'https://think-about.io/events/2020/talks/barriers_to_inclusion.html'
        } %>
      from ThoughtWorks will provide you with practical tips and actionable
      outcomes that can help to make Tech an inclusive place for everyone.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <%= partial 'head',
    locals: {
      name: 'mirjam_baeuerlein',
      alt: ''
    } %>
  <% partial 'title' do %>
    Tech Talk: Treat yourself – a tale about dog training and test-driven development
  <% end %>
  <% partial 'text' do %>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Mirjam Bäuerlein',
          link: 'https://think-about.io/events/2020/talks/treat_yourself.html'
        } %>
      will talk about what you can take away from Dog Training to become better at TDD. 
    </p>
    <p>
      Side note: Mirjam founded 
    <%= partial 'link',
        locals: {
          text: 'Conference Buddy',
          link: 'https://www.conferencebuddy.io/'
        } %>
        which is a platform for people who want to attend a tech conference but
        do not want to go alone. We hopefully will be having conference buddies
        at the Think About! next year again :)
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Merry Christmas<br> 
    and a Happy New Year!
  <% end %>

  <% partial 'text' do %>
    <p>
      We are going to travel through the Saxon Switzerland soon and will see you again next year. We have already planned some
      <%= partial 'link',
        locals: {
          text: 'Meetups',
          link: 'https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/'
        } %>
      for January and February so stay tuned. And don't forget to follow us on

      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>.
    </p>

    <p>
      See you next year.<br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

