---
title: "Newsletter #18"
date: "June 2020"
preheader_text: "The Think About! conference would have started today"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    The Think About! conference would have started today :(
  <% end %>

  <% partial 'text' do %>
    <p>
      In March we decided to cancel the Think About! conference due to the corona pandemic and we are still convinced that this was the right and reasonable decision. At the same time we are still very sad and can’t put into words how we feel - especially today.
    </p>
    <p>
      That is why we felt the need to connect with all of you today 💖 and take the opportunity to relive the Think About! 2019 edition. In this newsletter we have put together different sources for you to enjoy last year's event content again. 
    </p>
    <p>
      And we also have some good news to share: We are still planning to come back with the Think About! conference in 2021. At the moment we are working on a research project which we will share with you within the next few weeks. So stay tuned :)
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Go to Event Page',
      link: 'https://think-about.io/events/2019.html'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'speakers.jpg',
    alt: 'Person giving talk at main stage',
    link: 'https://vimeo.com/thinkaboutconf'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Watch last year's Talk Recordings
  <% end %>
  <% partial 'text' do %>
    <p>
    At the first Think About! Conference 170 people came together to watch amazing speakers such as 
     <%= partial 'link',
        locals: {
          text: 'Linda Rising,',
          link: 'https://lindarising.org/'
        } %>
     <%= partial 'link',
        locals: {
          text: 'Aral Balkan & Laura Kalbag',
          link: 'https://ind.ie/'
        } %>
    and many many more.
    </p>   
    Luckily we were able to record all of the <b>24 talks</b> professionally. Most of the content is still valid to this day. So feel free to watch them, share them with the world or just get inspired by them.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Watch Recordings',
      link: 'https://vimeo.com/thinkaboutconf'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'podcast.jpg',
    alt: 'Three people sitting together recording a podcast',
    link: 'https://workingdraft.de/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Listen to Podcast Series produced by Working Draft
  <% end %>
  <% partial 'text' do %>
    <p>
    Our good friends at
     <%= partial 'link',
        locals: {
          text: 'Working Draft,',
          link: 'https://workingdraft.de/'
        } %>
    a German news-podcast for webdesigner and webdeveloper, attended last year's Think About! conference and interviewed six of the speakers.
    </p>
        <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Laura Kalbag & Aral Balkan',
          link: 'https://workingdraft.de/on-tour-thinkabout19-laura-kalbag-aral-balkan/'
        } %>
    about Small Tech
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Anika Zeidler',
          link: 'https://workingdraft.de/on-tour-thinkabout19-anika-zeidler/'
        } %>
    about Algorithmic Bias
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Maren Heltsche',
          link: 'https://workingdraft.de/on-tour-thinkabout19-maren-heltsche/'
        } %>
    about the Hack Society
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Christopher Grebs',
          link: 'https://workingdraft.de/on-tour-thinkabout19-christopher-grebs/'
        } %>
    about Maintaining Ancient Projects
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Katharina Bähr',
          link: 'https://workingdraft.de/on-tour-thinkabout19-katharina-baehr/'
        } %>
    about the Power of Web Components
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'meetup_marcel.png',
    alt: 'Header Image for Meetup',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Join our next Meetup this Thursday, 27th February
  <% end %>
  <% partial 'text' do %>
    <p>
      We have another meetup coming up this week: 
    </p>
    <p>
      Coach and Software Developer 
      <%= partial 'link',
        locals: {
          text: 'Marcel Koch',
          link: 'https://www.marcelkoch.net/'
        } %>
      will talk about the pitfalls of bad communication in (software) teams and techniques how to overcome those.
    </p>
    <p>
      This meetup is hosted by our friends at
      <%= partial 'link',
        locals: {
          text: 'Inovex',
          link: 'https://www.inovex.de/en/'
        } %>
        who will provide an impressive meetup location in Cologne Mühlheim and offer delicious and healthy food. We can't wait for this event to happen. 
    </p>
  <% end %>
  <%= partial 'button',
    locals: {
      text: 'Join the Meetup - it\'s free',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/268237844/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'queerjs.jpg',
    alt: 'Two pictures taken at the QueerJS Meetup showing a talk and stickers',
    link: 'https://queerjs.com/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    QueerJS Cologne celebrated it's wonderful first edition
  <% end %>
  <% partial 'text' do %>
    <p>
      We supported the first edition of the QueerJS meetup in Cologne (ever!) and it was an inspiring evening with three interesting talks and an amazing community. Thanks again to the
      <%= partial 'link',
        locals: {
          text: 'organizers',
          link: 'https://queerjs.com/organizers'
        } %>
       and to our friends at 
      <%= partial 'link',
        locals: {
          text: 'Dunckelfeld',
          link: 'https://www.dunckelfeld.de/en/'
        } %>
       who provided self-made food and their beautiful location.
    </p>
      And we have good news: There will be a second edition coming up soon – possibly as a warming-up event right before the Think About! conference. We will keep you posted.
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'sponsors.jpg',
    alt: 'People standing in front of a sponsor booth',
    link: 'https://think-about.io/sponsors.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Meet our next Gold Sponsor
  <% end %>
  <% partial 'text' do %>
    <p>
      Making an event like the Think About! happen would not be possible without the support of our sponsors. Thanks to 
    <%= partial 'link',
    locals: {
      text: 'Metro Markets',
      link: 'https://www.metro-markets.de/'
    } %>
      who just joined as our fourth <b>Gold Sponsor</b>. 
    </p>
    <p>
      If you know any company that might be a good fit or want to sponsor yourself please get in touch with us. We have a few sponsor spots left.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Get in Touch',
      link: 'mailto: kontakt@think-about.io'
    } %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you soon
  <% end %>

  <% partial 'text' do %>
    <p>
      Thanks again to everyone who helped making the first edition of the Think About! possible. Without you the event would not have been as amazing, inspiring and magical as it was. 
    </p>
    <p>
      We are looking forward to the next few month. Should you be interested in more Think About! related updates feel free to follow us on
      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>
      in case your not doing it already.
    </p>

    <p>
      Stay healthy and safe, everyone 💖💖💖<br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

