---
title: "Newsletter #18"
date: "June 2020"
preheader_text: "The Think About! conference would have started today"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    The Think About! conference would have started today :(
  <% end %>

  <% partial 'text' do %>
    <p>
      In March we decided to cancel the Think About! conference due to the corona pandemic and we are still convinced that this was the right and reasonable decision. At the same time we are still very sad and can’t put into words how we feel - especially today.
    </p>
    <p>
      That is why we felt the need to connect with all of you today 💖 and to take the opportunity to relive the Think About! 2019 edition. In this newsletter we have put together different sources for you to enjoy last year's event content again. 
    </p>
    <p>
      And we also have some good news to share: We are still planning to come back with the Think About! conference in 2021.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Go to Event Page',
      link: 'https://think-about.io/events/2019.html'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'speakers.jpg',
    alt: 'Person giving talk at main stage',
    link: 'https://vimeo.com/thinkaboutconf'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Watch Last Year's Talk Recordings
  <% end %>
  <% partial 'text' do %>
    <p>
    At the first Think About! Conference 170 people came together to watch amazing speakers such as 
     <%= partial 'link',
        locals: {
          text: 'Linda Rising,',
          link: 'https://lindarising.org/'
        } %>
     <%= partial 'link',
        locals: {
          text: 'Aral Balkan & Laura Kalbag',
          link: 'https://ind.ie/'
        } %>
    and many many more.
    </p>   
    Luckily we were able to record all of the <b>24 talks</b> professionally. Most of the content is still valid to this day. So feel free to watch them, share them with the world or just get inspired by them.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Watch Recordings',
      link: 'https://vimeo.com/thinkaboutconf'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'podcast.jpg',
    alt: 'Three people sitting together recording a podcast',
    link: 'https://workingdraft.de/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Listen to Last Year's Podcast Series produced by Working Draft
  <% end %>
  <% partial 'text' do %>
    <p>
    Our good friends at
     <%= partial 'link',
        locals: {
          text: 'Working Draft,',
          link: 'https://workingdraft.de/'
        } %>
    a German news-podcast for webdesigner and webdeveloper, attended last year's Think About! conference and interviewed six of the speakers:
    </p>
        <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Laura Kalbag & Aral Balkan',
          link: 'https://workingdraft.de/on-tour-thinkabout19-laura-kalbag-aral-balkan/'
        } %>
    about Small Tech
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Anika Zeidler',
          link: 'https://workingdraft.de/on-tour-thinkabout19-anika-zeidler/'
        } %>
    about Algorithmic Bias
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Maren Heltsche',
          link: 'https://workingdraft.de/on-tour-thinkabout19-maren-heltsche/'
        } %>
    about the Hack Society
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Christopher Grebs',
          link: 'https://workingdraft.de/on-tour-thinkabout19-christopher-grebs/'
        } %>
    about Maintaining Ancient Projects
    </p>
    <p>
      <%= partial 'link',
        locals: {
          text: 'Podcast with Katharina Bähr',
          link: 'https://workingdraft.de/on-tour-thinkabout19-katharina-baehr/'
        } %>
    about the Power of Web Components
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'outdoor.jpg',
    alt: 'A lot of people sitting in an outdoor area enjoying food and the sun',
    link: 'https://think-about.io/events/2019.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Read about our Attendees Experiences
  <% end %>
  <% partial 'text' do %>
    <p>
      We are extremely happy that some of our last year's attendees summarized the experiences they had at the Think About! 2019. <b>Thanks again for sharing your thoughts and perspectives</b> 💖
    </p>
    <p>
    <%= partial 'link',
    locals: {
      text: 'A personal experience report',
      link: 'https://www.womenwhocode.com/blog/think-about-conference-may-23-24-cologne-germany'
    } %>
      by <b>Sarah Wachs</b>, a member of Women Who Code.
    </p>
    <p>
    <b>Laura Kalbag</b>
     <%= partial 'link',
    locals: {
      text: 'summarized her favorite speakers.',
      link: 'https://laurakalbag.com/great-speakers-from-think-about-conf-2019/'
    } %>
    She states "These are fabulous people, accomplished speakers, writing valuable, meaningful and educational talks."
    </p>
    <p>
    <b>Stefan Durski</b> came up with a list of
     <%= partial 'link',
    locals: {
      text: 'The Best Tech Events in North-Rhine Westphalia',
      link: 'https://life.trivago.com/experience/the-best-tech-events-in-north-rhine-westphalia.html'
    } %>
    with the Think About! being one of them.
    </p>
    <p>
    Sociologist & Interaction Designer <b>Sebastian Greger</b> wrote a wonderful article about 
     <%= partial 'link',
    locals: {
      text: 'his personal impressions.',
      link: 'https://sebastiangreger.net/2019/08/think-about-2019-a-unique-conference'
    } %>
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you soon!
  <% end %>

  <% partial 'text' do %>
    <p>
      Thanks again to everyone who helped making the first edition of the Think About! possible. Without you the event would not have been as amazing, inspiring and magical as it was. 
    </p>
    <p>
      We are looking forward to the next few month. Should you be interested in more Think About! related updates feel free to follow us on
      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>
      in case your not doing it already.
    </p>

    <p>
      Stay healthy and safe, everyone 💖💖💖<br>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>

