---
title: "Newsletter #11"
date: "September 2019"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    The Think About! 2019 is over and we have good news: There will be a 2020
    edition.
  <% end %>

  <% partial 'text' do %>
    <p>
      The Think About! 2019 happened more than one month ago and we are still
      overwhelmed by all the positive feedback we continue to receive. The talks
      were amazing, the sunny weather did it's bit and the food was delicious. But
      the most important part were our attendees, helpers and speakers who made
      this event so special in the first place.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    The Think About! 2019 talk recordings are online
  <% end %>

  <% partial 'text' do %>
    <p>
      We have finally uploaded all 24 talk recordings of the Think About! 2019.
      You can either download the videos directly from our website or go to
      Vimeo to watch them in your browser. Feel free to share the recordings of
      the talks with others - they are completely free.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Watch the recordings',
      link: 'https://think-about.io/events/2019.html#recordings'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'pictures.png',
    alt: '',
    link: 'https://think-about.io/events/2019.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    A new Think About 2019! event page
  <% end %>

  <% partial 'text' do %>
    <p>
      We are excited to announce that we have a subpage for the Think About!
      2019. It is filled with pictures, recordings, media coverage and other
      related content that might give you a perspective on how the event took
      place.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Check out the page',
      link: 'https://think-about.io/events/2019.html'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'cryptoparty.png',
    alt: '',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262411839/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Digital self-defence for everyone - join the next cryptoparty on July 18th
  <% end %>

  <% partial 'text' do %>
    <p>
      Regardless whether you don't want secret services to read your private
      communication or you want to prevent your bank account to be stolen - IT
      security affects everyone, amateurs and professionals. There is no such
      thing as perfect security, but there are programs making your digital
      life far more secure. Many people are not willing to read lengthy
      specialist articles. They want to know how to make their own devices more
      secure in a simple manner. That's what Cryptoparties are for.
    </p>
    <p>
      Cryptoparties are nonpartisan and non-commercial. The Cologne-Bonn
      chapter is supported by, besides others, the
      <%= partial 'link',
        locals: {
          text: 'Chaos Computer Club Cologne',
          link: 'https://koeln.ccc.de/'
        } %>.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Join the CryptoParty',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262411839/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'meetup-introvert.png',
    alt: '',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262967473/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Join our meetup: "Succeeding as an Introvert" on July 25th
  <% end %>

  <% partial 'text' do %>
    <p>
      We are super excited to have won over
      <%= partial 'link',
        locals: {
          text: 'Elizabeth Zagroba',
          link: 'https://twitter.com/ezagroba'
        } %>
      who will give a talk at our Think About! meetup which is hosted by
      <%= partial 'link',
        locals: {
          text: 'Dunckelfeld',
          link: 'https://www.dunckelfeld.de/en/'
        } %>.
    </p>

    <p>
      Elizabeth tests software at Mendix in Rotterdam, The Netherlands. She was
      the keynote speaker at Let’s Test in South Africa in 2018, and she’s
      spoken at Agile Testing Days’ and other conferences in North America and
      Europe. Her article about mind maps became one of the most viewed on
      Ministry of Testing Dojo in 2017.
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Join the Meetup',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262967473/'
    } %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    See you soon!
  <% end %>

  <% partial 'text' do %>
    <p>
      We have already started to plan the next Think About! for 2020 :) We hope
      to see a lot of you there again. Until then feel free to come to one of
      our

      <%= partial 'link',
        locals: {
          text: 'Meetups',
          link: 'https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/'
        } %>

      or just follow us on

      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>.
    </p>

    <p>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>
