---
title: "Newsletter #11"
date: "September 2019"
---

<% partial 'box' do %>
  <% partial 'title' do %>
    Long time no see! 👋
  <% end %>

  <%= partial 'image',
    locals: {
      image: 'hello.gif',
      alt: 'Penguin waving it\'s wing to say hello!'
    } %>

  <% partial 'text' do %>
    <p>
      We are very happy to announce: after a few weeks off we are finally back
      on track towards the Think About! 2020. We got tons of feedback, good
      wishes and encouraging words and are more than excited to make the next
      installment of our little conference even better.
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'savethedate.png',
    alt: 'People lining up to get into the Think About! 2019 Venue',
    link: 'https://think-about.io/events/2019.html'
  } %>


<% partial 'box' do %>
  <% partial 'title' do %>
    Save the Date: 4th and 5th of June
  <% end %>

  <% partial 'text' do %>
    <p>
      First and foremost, we have a date for next years conference. It will
      again take place in the
      <%= partial 'link',
        locals: {
          text: 'Cinenova',
          link: 'https://www.cinenova.de/'
        } %>
      on the <b>4th and 5th of June 2020</b>.
    </p>
    <p>
      Early bird ticket sale will start on <b>November 15th</b>. The ticket
      prices will stay the same: <b>380 EUR</b> for the early birds and 500 EUR
      for the regular ticket. And we will have the supporter tickets again. For
      750 EUR you can help us to give away as many
      <%= partial 'link',
        locals: {
          text: 'solidarity tickets',
          link: 'https://think-about.io/tickets.html#solidarity'
        } %>
      as possible.
    </p>
  <% end %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'talks.png',
    alt: 'Vimla giving the closing keynote of the Think About! 2019',
    link: 'https://think-about.io/events/2019.html'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    The first Talks and Keynotes are saved!
  <% end %>

  <% partial 'text' do %>
    <p>
      In the last few weeks we were contacting many people from our network to
      source the first set of amazing speakers for next year. A few already
      confirmed. Besides many others we will have talks from:

      <%= partial 'link',
        locals: {
          text: 'Amr Abdelwahab',
          link: 'https://twitter.com/amrAbdelwahab'
        } %>,
      <%= partial 'link',
        locals: {
          text: 'Cassandra H. Leung',
          link: 'https://twitter.com/Tweet_Cassandra'
        } %>,
      <%= partial 'link',
        locals: {
          text: 'Chimmy Kalu',
          link: 'https://twitter.com/geekaspora'
        } %>,
      <%= partial 'link',
        locals: {
          text: 'Laura Linda Laugwitz',
          link: 'https://twitter.com/lauralindal'
        } %>,
      <%= partial 'link',
        locals: {
          text: 'Maryam Umar',
          link: 'https://twitter.com/maryamumar'
        } %>
      and
      <%= partial 'link',
        locals: {
          text: 'Vanessa Böhner',
          link: 'https://twitter.com/vannsl'
        } %>.
    </p>
    <p>
      We also happened to secure the first of four keynotes. The amazing
      <%= partial 'link',
        locals: {
          text: 'Kim Crayton',
          link: 'https://twitter.com/KimCrayton1'
        } %>

      will open the second day of the Think About! 2020 with her Keynote about
      Exclusionary Practices.
    </p>
    <p>
      While waiting for the sale to start, feel free to check out the
      recordings of this year's talks:
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Watch the Recordings',
      link: 'https://vimeo.com/thinkaboutconf'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'cryptoparty.png',
    alt: '',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/262411839/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    Digital self-defence for everyone - join the next cryptoparty on October 17th
  <% end %>

  <% partial 'text' do %>
    <p>
      CryptoParties are free and open for everyone, but especially ​for
      those without prior knowledge, who haven't yet attended one.
    </p>
    <p>
      CryptoParty is a decentralized movement with events happening all over
      the world. The goal is to pass on knowledge about protecting yourself in
      the digital space. This can include encrypted communication, preventing
      being tracked while browsing the web, and general security advice
      regarding computers and smartphones.
    </p>

    <p>
      Bring you questions, bring you devices bring your friends 🥳
    </p>
  <% end %>

  <%= partial 'button',
    locals: {
      text: 'Join the CryptoParty',
      link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/265094507/'
    } %>
<% end %>

<%= partial 'hero',
  locals: {
    image: 'meetups.png',
    alt: 'Picture from a talk given on a meetup',
    link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/past/'
  } %>

<% partial 'box' do %>
  <% partial 'title' do %>
    We had two Meetups since the last Newsletter!
  <% end %>

  <% partial 'text' do %>
    <p>
      Two fantastic Meetups took place. On August 8th,
      <%= partial 'link',
        locals: {
          text: 'Mirjam Bäuerlein',
          link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/263479027/'
        } %>
      talked about how to structure your CSS to make it more reusable and
      maintainable.
    </p>

    <p>
      One month later, on September 10th,
      <%= partial 'link',
        locals: {
          text: 'Tatiana Mac',
          link: 'https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/events/263549213/'
        } %>
      explained how we can build Socially Inclusive Design Systems.
    </p>
    <p>
      Both meetups were sponsored by
      <%= partial 'link',
        locals: {
          text: 'Sevenval',
          link: 'https://www.sevenval.com/'
        } %>
      and took place in there awesome location.
    </p>
  <% end %>
<% end %>

<% partial 'box' do %>
  <% partial 'title' do %>
    KalkSpace Coworking - Update
  <% end %>

  <%= partial 'image',
    locals: {
      image: 'kalkspace.png',
      alt: 'Logo of the KalkSpace Coworking Location'
    } %>

  <% partial 'text' do %>
    <p>
      KalkSpace is a coworking community full of creative people in Kalk.
      Together they want to create a space, where people can not just work, but
      also have a place for their ideas and initiatives.
    </p>
    <p>
      They open on October 1st and are still looking for coworkers. If you are
      interested, get to know them:
      <%= partial 'link',
        locals: {
          text: 'kalk.space',
          link: 'https://kalk.space/'
        } %>
    </p>
  <% end %>
<% end %>


<% partial 'box' do %>
  <% partial 'title' do %>
    See you soon!
  <% end %>

  <% partial 'text' do %>
    <p>
      We hope to see a lot of you at the Think About! 2020 again. Until then
      feel free to come to one of our

      <%= partial 'link',
        locals: {
          text: 'Meetups',
          link: 'https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/'
        } %>

      or just follow us on

      <%= partial 'link',
        locals: {
          text: 'Twitter',
          link: 'https://twitter.com/thinkaboutconf'
        } %>.
    </p>

    <p>
      Chrissi, Jakob and Rudi the dog
    </p>
  <% end %>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 0; padding-bottom: 40px; vertical-align: top; text-align: center">
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'chrissi.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'jakob.png' %>"/>
      </a>
      <a href="https://think-about.io/about-us.html">
        <img style="margin: 10px" width="100" src="<%= current_page.url + 'rudi.png' %>"/>
      </a>
    </td>
  </tr>

  <tr>
    <td class="stack-column-center" valign="top" style="padding: 40px 0; vertical-align: top; text-align: center">
      <a href="https://twitter.com/thinkaboutconf">
        <img src="<%= current_page.url + 'twitter.png' %>"/>
      </a>
      <a href="https://github.com/holderbaum-io/">
        <img src="<%= current_page.url + 'github.png' %>"/>
      </a>
      <a href="https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/">
        <img src="<%= current_page.url + 'meetup.png' %>"/>
      </a>
      <a href="mailto:kontakt@think-about.io">
        <img src="<%= current_page.url + 'mail.png' %>"/>
      </a>
    </td>
  </tr>
<% end %>
